{% extends "base.html" %}
{% load i18n allauth account %}
{% load form_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{% trans "Réinitialisation du mot de passe" %}</h1>

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
            <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                <p class="text-center">{% trans "Entrez votre adresse email ci-dessous pour recevoir un lien de réinitialisation." %}</p>
                {% url 'account_reset_password' as reset_url %}
                <form method="post" action="{{ reset_url }}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">{% trans "Adresse email" %}</label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Envoyer un lien de réinitialisation" %}</button>
                    </div>
                </form>
                <p class="text-center mt-3">
                    {% trans "Si vous avez des problèmes pour réinitialiser votre mot de passe, veuillez nous contacter." %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
