{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% load form_tags %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{% trans "Changer le mot de passe" %}</h1>

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
            <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                {% url 'account_change_password' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}

                    <div class="mb-3">
                        <label for="old_password" class="form-label">{% trans "Ancien mot de passe" %}</label>
                        {{ form.oldpassword|add_class:"form-control" }}
                    </div>

                    <div class="mb-3">
                        <label for="password1" class="form-label">{% trans "Nouveau mot de passe" %}</label>
                        {{ form.password1|add_class:"form-control" }}
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">{% trans "Confirmez le nouveau mot de passe" %}</label>
                        {{ form.password2|add_class:"form-control" }}
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Changer le mot de passe" %}</button>
                    </div>

                    <div class="text-center">
                        <a href="{% url 'account_reset_password' %}">{% trans "Mot de passe oublié ?" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
